* {
  margin: 0;
  padding: 0;
  /*border: 1px solid black;*/
}

header {
  height: 500px;
  background: url("../images/header_bg.jpg") no-repeat center top;
  background-size: cover;
}

h1 {
	font-size: 24px;
	padding: 25px 0 0 150px;
	font-weight: Extrabold;
	color: white;
}

h2 {
	font-size: 24px;
	margin-top: 100px;
	margin-bottom: 50px;
}

h2, h3 {
	text-align: center;
	font-weight: 600;
	color: white;
}

#button {
	background-color: #f9e42e;
	color: #033048;
	font-weight: 800;
}

#benefits {
	margin: 0px;
}

h2 span {
	color: #033048;
	text-align: left;
}

a {
	text-decoration: none;
}

body {
	background-color: #f0efef;
	color: #606161;
	font-family: 'Open Sans', sans-serif;
}

#benefits {
	margin: 50px;
	font-weight: 300;
	font-size: 13px;
}

h4 {
	font-weight: 600;
	font-size: 20px;
	color: #033048;
}

#benefits p {
	width: 400px;
	padding: 20px 0 20px 0;
}

ul {
	margin-left: 30px;
	width: 400px;
}

li {
	font-size: 13px;
}

#testimonial {
	background: url("../images/testimonial_bg.jpg");
	padding-bottom: 40px;
}

#testimonial p {
	text-align: center;
	font-size: 18px;
	color: white;
}

#quote {
	width: 400px;
	margin: 0 auto 0 auto;
	font-weight: 300;
	font-style: italic;
	padding: 50px 50px 0 50px;
}

#attribution {
	padding-top: 0px;
	font-weight: 600;
	font-style: normal;
}

#signup {
	background-color: #f9e42e;
	padding: 30px;
}

h3 span {
	background-color: #033048;
	padding: 10px 50px 10px 50px;
	border-radius: 5px;
	font-weight: 800;
	font-size: 15px;
}

footer {
	background-color: #121212;
	text-align: center;
	padding: 20px;
}

footer p {
	font-size: 9px;
	font-weight: 600;
	margin: 0px;
	padding-top: 10px;
	color: white;
}

h5 {
	color: #f9e42e;
	font-size: 24px;
	padding-bottom: 10px;
}

img {
	padding: 0 20px 0 20px;
	margin: 20px 0 20px 0;
}